@model KitchenHome_WsiteBanHang.Models.DanhGiaSanPham

<h2>Xóa đánh giá</h2>

<p>Bạn có chắc muốn xóa đánh giá này?</p>
<p><b>@Model.TieuDe</b></p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="DanhGiaId" />
    <button class="btn btn-danger">Xóa</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
